<div class="cajita">

    @if(contador()>=2){
      <div class="circulo rojo"></div>
    }@else {
      <div class="circulo gris"></div>      
    }
    
    
    @if(contador()==1){
     <div class="circulo naranja"></div>
    }@else {
      <div class="circulo gris"></div>     
    }
    
    
    @if(contador()==0) {
     <div class="circulo verde"></div>
    }@else {
      <div class="circulo gris"></div>      
    }

</div>


<h1 [style.color]="colorin()"> {{ contador() }}</h1>

<button (click)="incrementar()">+1</button>
<button (click)="decrementar()">-1</button>
<button (click)="resetear()">Reset</button>


<p>LA siguiente prueba es para '@ if'</p>

@if(contador()>=0){
    <p style="color: green" >El número es positivo</p>
}@else{
    <p style="color: red">El número es negativo</p>
}
